<div class="splash-screen-container">
  <div class="logo-container">
    <h1>i-budget</h1>
  </div>
  <nav>
    <% unless user_signed_in? %>
      <%= link_to "Sign In", new_user_session_path, class:"top-link"%>
      <%= link_to "Sign Up", new_user_registration_path, class:"bt-link"%>
    <% else %>
      <%= link_to "Categories", groups_path, class:"top-link"%>
      <%= link_to "Sign Out", destroy_user_session_path, class:"bt-link"%>
    <% end %>
  </nav>
</div>
